body{
    background-color:tan;
}

header{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    height:100px;
    width:100%;
}

.text{
    font-family:sans-serif;
    font-size:2rem;
}

h1{
    display:flex;
    justify-content:flex-start;
}

nav{
    display:flex;
    justify-content:flex-end;
    margin-top:15px;
}

nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    padding:10px;
    border:1px solid black;
    height:20px;
    width:70px;
}

.projects{
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
    width:100%;
    margin-bottom:10px;
}

.image{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:url(https://picsum.photos/500);
    height:50vh;
    width:80%;
}

.button{
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid black;
    height:30px;
    width:100px;
}

section{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:space-evenly;
    flex-wrap:wrap;
    height:70vh;
    width:100%;
}

.buttons{
    background:url(https://picsum.photos/200);
    height:250px;
    width:250px;
    padding:10px;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
}

.titles{
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

footer{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:lightgrey;
    height:100px;
    width:100%;
}

footer a{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: white;
    border:1px solid black;
    margin:10px;
    height:20px;
    width:100px;
}